button,
input,
select {
	border: none;
	background-color: transparent;
	outline: none;
	&:focus,
	&:active {
		border: none;
		outline: none;
	}
}
a {
	color: $text-color;
	text-decoration: none;
	&:hover,
	&:visited,
	&:focus {
		text-decoration: none;
		// color: $text-color;
	}
}
