@import "../../assets/scss/style";

.button {
	--background: #{$primary-color};
	--padding: 12px;
	--height: 35px;
	--stroke-color: #{$primary-color-dark};
	border: none;
	outline: none;

	padding: 0 var(--padding);
	background: var(--background);
	height: var(--height);
	border: 2px solid var(--stroke-color);

	line-height: 1em;
	font-size: 15px;
	font-weight: bold;
	&.color {
		&-bright {
			--background: #f5f5f5;
		}
		&-colored {
			--background: #{$primary-color};
			color: white;
		}
		&-stroke {
			--background: transparent;
		}
		&-simple {
			--background: transparent;
		}
	}
	&.round {
		border-radius: 12px;
	}
	&.size {
		&-small {
		}
		&-medium {
			--padding: 16px;
		}
		&-large {
			--padding: 48px;
		}
	}
}
