@import "assets/scss/core";

.header {
	&__main {
		@include useFlex($jc: space-between);
		height: var(--header-height);
	}
	.icon-groups {
		.nav-icon {
			cursor: pointer;
			&:not(.cart-icon) {
				margin-right: 30px;
			}
			&.cart-icon {
				position: relative;
				&::before {
					content: attr(data-product-count);
					position: absolute;
					display: block;
					bottom: 0;
					left: 0px;
					background-color: $adittional-color-orange;
					padding: 3px;
					font-size: 12px;
					line-height: normal;
					font-family: ppb;
					border-radius: 5px;
					color: $white-color;
					transform: translate(-15%, 40%);
				}
			}
		}
	}
}
