@import "../../assets/css/style.scss";
.container-fluid {
  .footer {
    padding: 64px 0px;
    &__wrappro {
      display: flex;
      display: flex;
      justify-content: space-between;
    }
    h3 {
      // margin-bottom: 16px;
    }
    &__tag {
      display: flex;
      flex-wrap: wrap;
    }
    p {
      margin-top: 48px;
      font-family: Open Sans Regular;
      font-size: 14px;
      line-height: 19px;
      align: Left;
    }
  }
}
